.add
{
color: saddlebrown;
margin-left: 20px;
margin-bottom: 35px;

}
.a1
{
    width: 10%;
    height: 10%;
    margin-left: 36px;
    margin-bottom: 26px;
}
.e1
{
    margin-left: 3%;
    color: rgb(84, 2, 109);

}