<app-login-header></app-login-header>
<br/>
<br/>
<div class="col-md-10 col-lg-10">
<img class="a1" src="assets/images/emishow.png">
    <h3 class="add">Time to Know your Monthly EMI</h3>
    <br/>
    <div class="text-right">
        <button class="btn btn-success" (click)="knowemi()">Know your Monthly EMI</button>&nbsp;&nbsp;
        <a class="btn btn-primary" routerLink="/login">Back to Menu</a>
<br/><br/>
        </div>
        <h2 class="e1">Your Monthly EMI is: {{message}}</h2>
        
        </div>
        