<app-login-header></app-login-header>
<section class="feature-section spad">
    <div class="container">
        <div class="feature-item">
            <div class="row">
                <div class="col-lg-6">
                    <img style="border-radius: 1cm;"src="assets/images/balance.jpg" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="feature-text">
                        <h2 style="color: firebrick;">Wanna Check your balance</h2>
                        <p>You can check your account balance online anytime—and much more. Mobile phones, tablets, and other devices make it easy to check on accounts from just about anywhere.</p>
                        <a class="class1"  routerLink="/checkBalance">Check Your Balance Now</a> 
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-item">
            <div class="row">
                <div class="col-lg-6 order-lg-2">
                    <img style="border-radius: 1cm;" class="loan" src="assets/images/loan.jpg" alt="">
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="feature-text">
                        <h2 style="color: indigo;">Get aproved in minutes after you apply online for the Loan</h2>
                        <p>Provide you the best loans.</p>
                        <a class="class2" routerLink="/applyLoan">Apply for the Loan</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-item">
            <div class="row">
                <div class="col-lg-6">
                    <img style="border-radius: 1cm;" class="loan" src="assets/images/show.webp" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="feature-text">
                        <h2 style="color: magenta;">Show Transactions (Mini Statement)</h2>
                        <p>Innovil Bank provides its account holders with mini statement service to enquire about the recent transactions made using the account. This helps in saving time. </p>
                        <a class="class3" routerLink="/showTransactions">Show your monthly transactions</a> 
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-item">
            <div class="row">
                <div class="col-lg-6 order-lg-2">
                    <img style="border-radius: 1cm;" class="loan" src="assets/images/calculate emi.png" alt="">
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="feature-text">
                        <h2 style="color: orangered;">Calculate EMI</h2>
                        <p>Innovil bank understands that every customer is unique and has individual requirements when under an emergency cash crunch. That is why we allow you to customize and choose a loan option that works best for you!</p>
                        <a class="class4" routerLink="/calculateemi">Calculate your monthly EMI</a> 
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-item">
            <div class="row">
                <div class="col-lg-6">
                    <img style="border-radius: 1cm;" class="loan"src="assets/images/pay emi2.jpg" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="feature-text">
                        <h2 style="color: palevioletred;">Paying Time</h2>
                        <p>Paying an EMI is very easy in our bank.Just enter the month of which you want to pay EMI and money will be deducted from your account. We value our Customer's time. </p>
                        <a class="class5" routerLink="/payEmi">Pay your monthly EMI</a> 
                    </div>
                </div>
            </div>
        </div>

        <div class="feature-item">
            <div class="row">
                <div class="col-lg-6 order-lg-2">
                    <img style="border-radius: 1cm;" class="loan" src="assets/images/foreclose.jpg" alt="">
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="feature-text">
                        <h2 style="color: red;">Wanna foreClose your account?</h2>
                        <p>To foreclose an existing home loan and to be debt free you need to keep the required documents handy</p>
                        <a class="class6" routerLink="/foreclose">ForeClose the account now.!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>