<app-login-header></app-login-header>
<br/>
<br/>
<form class="example-form" [className]="'style2'" [formGroup]="calculateemiform" (ngSubmit)="calculateemi()" >
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field class="example-full-width">
            <mat-label class="i1">Loan Amount:</mat-label>
          <input matInput placeholder="loan amount in rupees" formControlName="loan_amount">
          <mat-hint>loan amount</mat-hint>
          <mat-error *ngIf="calculateemiform.get('loan_amount').hasError('required')">
           Loan Amount is Required!
          </mat-error>
          <mat-error *ngIf="calculateemiform.get('loan_amount').hasError('pattern')">
            Loan Amount should contain numericals only.
          </mat-error>
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field class="example-full-width">
            <mat-label class="i1">Duration:</mat-label>
          <input matInput placeholder="loan amount in rupees" formControlName="duration">
          <mat-hint>duration in months</mat-hint>
          <mat-error *ngIf="calculateemiform.get('duration').hasError('required')">
           Loan Amount is Required!
          </mat-error>
          <mat-error *ngIf="calculateemiform.get('duration').hasError('pattern')">
            Duration should contain numericals only.
          </mat-error>
        </mat-form-field>
        <br/> <br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="btn btn-success" type="submit" id="save">Save</button>
  &nbsp;&nbsp;
  <button class="btn btn-danger" type="reset">Cancel</button> &nbsp; &nbsp;
  <button class="btn btn-primary" routerLink="/login">Back to Login</button>
  
  </form>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <h1 class="e1">EMI is: {{message}}</h1>
  <!-- <div class="col-lg-6 col-md-6 col-sm-6"> -->
    <!-- <img class="i2" src="assets/images/add2.jpg"> -->
  <!-- </div> -->