<app-header></app-header>
<section class="why-section spad">
    <div class="container">
        <div class="text-center mb-5 pb-4">
            <h2 class="h2">Why Choose us?</h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="icon-box-item">
                    <div class="ib-icon">
                        <img style="border-radius: 1cm;" src="assets/images/money.jpg">
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="ib-text">
                        <h5 class="moneytext">Money in few minutes!</h5>
                        <p>All you need to do is fIll out our quick online<br/>
                            form to get approved for a fast cash loan in 
                       <br/> just 3 minutes</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box-item">
                    <div class="ib-icon">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img class="staff" src="assets/images/staff5.jpg">
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                
                <div class="ib-text">
                    
                
                    <h5 class="staffdata">Helpfull Staff with 24 hour credit</h5>
                    <p class="pstaff">Our efficient team is always at your service. 
                    Once you upload the required documents, you 
                   can get your final approval within 24 hours and
                     immediate fast cash within 48 hours between 
                    Rs. 5000 and 1 lakh for up to 12 months!</p>
                </div>
            </div>
        </div>
            <div class="col-md-4">
                <div class="icon-box-item">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img class="credit" src="assets/images/credit.png">
                    <br />
                    <br />
                    <div class="ib-text"class="credittext"> 
                        <h5 class="creditdata">Credit Card Details</h5>
                        <p>Your interest rate will be a function of your credit score on our proprietary model. Our interest rates will vary from 1.50% to 2.25% per month.</p>  
                    </div>
                </div>
            </div>
        </div>
        <div >
            <br/>
            <h3 class="h3">Testimonials</h3>
            <br/>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <img class="t1" src="assets/images/testi1.jpeg">
                    <p>
                        For a small family business like us, we needed to have somebody who was responsive to our needs.Innovil Bank looked at how they could help us solve problems.                       
                    </p>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <img class="t2" src="assets/images/testi3.jpg">
                    <p>
                        We’re in a unique growth position and with that, we wanted to find a bank that would give us personal service. That’s what we found with Innovil Bank
                    </p>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <img class="t3" src="assets/images/testi2.jpg">
                    <p>
                        Our transition to Innovil Bank was seamless. They’ve taken the time to truly understand every aspect of our business and they have helped and guide us.
                    </p>
                </div>
            </div>
        </div>
        </div>
</section>