<app-header></app-header>
    <div class="row">
    <div class="col-md-8 col-lg-8 col-sm-8">
        <br/>
        <h1 class="d1">Frequently Asked Questions</h1>

    <details>
        <summary class="s1">What is Innovil Bank Internet Banking?</summary>
        <p class="sp">The Internet Banking gives you access to your account/s - anytime, anywhere, 24X7 - at your own comfort. You can manage all your daily transactions online. You can view statements, order cheque books, do fund transfers, order DDs, pay your bills & even shop online.</p>
        </details>
    <details>
        <summary class="s1">On which browsers can I use the Internet Banking Website?</summary>
        <p class="sp">Internet Banking works best on the latest versions of all browsers such as Internet Explorer, Safari, Google Chrome etc.</p>
    </details>
    <details>
        <summary class="s1">What is EMI? How is it calculated?</summary>
        <p class="sp">EMI stands for Equated Monthly Instalments. This instalment comprises both principal and interest components. Your EMI would be calculated depending on the tenure you choose, to repay your loan. The EMI would be higher if you choose to repay within a shorter period as against a longer-term loan.</p>
    </details>
    <details>
        <summary class="s1">How to change/update the mobile number?</summary>
        <p class="sp">Kindly place a request at the branch for changing the Mobile number</p>
    </details>
    <details>
        <summary class="s1">What is required for accessing the account on the internet?</summary>
        <p class="sp">You can also login, with your login ID which is usually the 4-digit Customer ID along with the password</p>
    </details>
    <details>
        <summary class="s1">What is the daily transaction limit?</summary>
        <p class="sp">The daily transaction Default limit for the day is Rs. 1 Lakh. There is no maximum limit for Funds Transfer. You can enhance your daily limit upto 5 lakhs through the Internet Banking.</p>
    </details>
</div>
<div class="col-md-4 col-lg-4 col-sm-4">
    <h1 class="h1">Contact us now</h1>
    <img class="i1" src="assets/images/contact.jpg">
    <br/>   
    <h3 class="h2">Address:</h3> 
    <p class="p1"> Innovil Bank near bhrama street, <br/>
        Hinjewadi phase 3, Pune City, India</p>
     <h3 class="h3">Phone:</h3>
     <p class="p2">+91 7228988923</p>   
     <h3 class="h4">Email:</h3>
     <p class="p3">Innovil@gmail.com</p>
     <h3 class="h5">Fax:</h3>
     <p class="p1">1(234)567 8989</p>
</div>
</div>